header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    margin: 5px auto 5px 26px;

}

.logo__img {
    width: 100%;
}

.menu {
    display: flex;
    font-size: 1.2vw;
    margin:18px 26px 18px auto;
}

.menu-text {
    margin-left: 14px;
    font-weight: bold;
}

.menu-text a{
    text-decoration: none;
    color: gray;
}

.firstview {
    position: relative;
}

.firstview__img {
    width: 60%;
    display: block;
    margin: 0 0 0 auto;
}

.copy {
    font-family: cursive;
    font-size: 4vw;
    font-weight: lighter;
    color:#b32469;
    line-height: 200%;
    position: absolute;
    top: 4vw;
    left:20vw;
}

.lead {
    font-size: 1.6vw;
    position: absolute;
    top:24vw;
    left: 20vw;
    color: #b32469;
}

.change{
    color:#00a3a7;
}

.caption {
        font-size: 1.05vw;
        font-weight: bold;
        line-height: 1.8;
        position: absolute;
        top: 26vw;
        left: 20vw;
        color: gray;
}

.news-block {
    margin-top: 6vw;
    margin-bottom: 6vw;
}
.cat-item {
    color: #b32469;
    font-size: 1vw;
    font-family:cursive;
    margin-bottom: 1vw;
}

.cat-box-news {
    margin-left: 23.5%;
}

.cat-title {
    color: gray;
    font-size: 1.7vw;
    margin-bottom: 2.5vw;
}



.news-list {
    width: 53%;
    padding: 2.3vw 0 1.2vw 0;
    border-top: solid 1.8px gray;
    border-bottom: solid 1.8px gray;
    margin: 0 auto 0 23.5%;
    list-style: none;
}

.news-list-text {
    color: gray;
    font-size: 1.2vw;
    margin-bottom: 1.3vw;
    padding-bottom: 1.4vw;
    border-bottom: solid 0.5px gray;
}

.news-list-icon {
    background-color: #b32469;
    font-size: 1vw;
    color: white;
    margin: 0 2.2vw;
    padding: 0.1vw 1.1vw;
    border-radius: 30px;
}

.about-block {
    background-color: #efefef;
    padding:3vw 0;
}

.cat-box-about {
    text-align: center;
}

.about-block__content{
    display: flex;
    justify-content: center;
}

.about-block__content__text {
    width: 27%;
    font-size: 1.1vw;
    color: gray;
    line-height: 1.7;
    margin-right:13vw;
}

.about-block__content__img {
    width: 100%;
}

.about-block__content__image {
    width: 26.5%;
    right: 15.5vw;
}


.service-block {
    padding: 5.8% 0;
}

.cat-box-service {
    margin-left: 16.6%;
}

.service-block__content {
    display: grid;
    grid-template-rows:13.5vw 13.5vw;
    grid-template-columns:33vw 33vw;
    justify-content: center;
}

.service-block__content1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #b32469;
    position: relative;
}

.service-block__content1__image {
    width: 30%;
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-block__content1__img {
    width: 100%;
}

.service-block__content1__title {
    font-size: 1.25vw;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.service-block__content1__text {
    width: 78%;
    font-size: 1.05vw;
    color: white;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 200%;
}

.service-block__content2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #994d77;
    position: relative;
}

.service-block__content2__image {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 4%;
}

.service-block__content2__img {
    width: 100%;
}

.service-block__content2__title {
    font-size: 1.25vw;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 23%;
    left: 36.5%;
}

.service-block__content2__text {
    font-size: 1.05vw;
    color: white;
    display: inline-block;
    line-height: 170%;
    position: absolute;
    top: 40%;
    left: 36.5%;
}

.service-block__content3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #b391a2;
    position: relative;
}

.service-block__content3__image {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 4%;
}

.service-block__content3__img {
    width: 100%;
}

.service-block__content3__title {
    font-size: 1.25vw;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 23%;
    left: 36.5%;
}

.service-block__content3__text {
    font-size: 1.05vw;
    color: white;
    display: inline-block;
    line-height: 170%;
    position: absolute;
    top: 40%;
    left: 36.5%;
}


.blog-block {
    background-color: #efefef;
    padding: 3% 0 1.5%;
}

.cat-box-blog {
    margin-left: 16.6%;
}

.blog-block__card {
    width: 20.5%;
    background-color: white;
    position: relative;
    border-radius:8px;
}

.blog-block__card:not(:last-of-type) {
    margin-right: 2.6%;
}

.blog-block__card__img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.blog-block__card__content-text {
    font-size: 1.15vw;
    color: gray;
    font-weight: bold;
    width: 88%;
    margin: 6% auto 0;
    line-height: 150%;
}

.blog-block__card__content-tag {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    padding: 12% 0 10%;
}

.blog-block__card__content-tag-date {
    font-size: 1vw;
    color: gray;
}

.blog-block__card__content-tag-tg {
    font-size: 1vw;
    color: gray;
}

.blog-block__card__ear {
    background-color: #b32469;
    color: white;
    font-size: 1vw;
    padding: 4% 6.5%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 0 0;
}

.blog-block__card-box {
    display: flex;
    justify-content: center;
}

.blog-block__btn {
    display: flex;
    justify-content: center;
    margin: 2% 0 1% 0;
}

.blog-block__btn-text {
    font-size: 1.15vw;
    background-color: white;
    color: #b32469;
    border: solid 1.5px #b32469;
    border-radius: 30px;
    padding:1.4% 3.5%;
    display: inline-block;
    text-decoration: none;
}

.company-block {
    padding: 6% 0 5.8% 0;
}

.cat-box-company {
    margin-left: 23.5%;
}

.company-block_list {
    width: 53%;
    border-collapse: collapse;
}

.company-block_list th,
.company-block_list td {
    border: 1px solid gray;
    color: gray;
    font-size: 1vw;
    text-align: left;
    padding: 2.7% 0 2.7% 2.4%;
}

.company-block_list th{
    background-color: #efefef;
    font-weight: bold;
    width: 30.5%;
}

.company-block_list {
    margin: 0 auto;
}




.recruit-block {
    display: flex;
    justify-content: center;
}

.recruit-block__info-box,
.recruit-block__interview-box {
    position: relative;
}

.recruit-block__info__image,
.recruit-block__interview__image {
    width: 100%;
}

.recruit-block__info__img,
.recruit-block__interview__img {
    width: 100%;
}

.recruit-block__info__title,
.recruit-block__interview__title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 110%;
}

.contact-block {
    padding:6% 0 6% 0;
}

.contact-block__text {
    color: gray;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
}

.contact-block__line {
    height: 3vw;
    border-left:solid 1.5px #b32469;
    margin: 1.5% auto 1.5% 50% ;
}

.contact-block__btn-text {
    background: linear-gradient(90deg,#e4007f,#b32469);
    color: white;
    font-size: 1.2vw;
    padding: 2% 7%;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0 0.6vw 0 #801b4b;
    line-height: 150%;
}

.contact-block__btn{
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-block__btn::before{
    content:"";
    position: absolute;
    top:50%;
    left:41%;
    background:url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    transform: translate(0, -50%);
}


.contact-block__btn-text:active {
    box-shadow: none;
    position: relative;
    top: 0.6vw;
}

.copyright-block {
    background-color: #efefef;
    padding: 1.5%;
}

.copyright {
    font-size: 0.95vw;
    font-weight: bold;
    color: gray;
    text-align: center;
}

.copyright-icon {
    font-size: 0.6vw;
    vertical-align: middle;
}

.copyright-small {
    font-size: 0.85vw;
}
